<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowPatients</servlet-name>
        <servlet-class>Servlet.ShowPatients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPatientsServlet</servlet-name>
        <servlet-class>Servlet.ShowPatientsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShiowPatienInfoServlet</servlet-name>
        <servlet-class>Servlet.ShiowPatienInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowListDataHealthServlet</servlet-name>
        <servlet-class>Servlet.ShowListDataHealthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDataHServlet</servlet-name>
        <servlet-class>Servlet.ShowDataHServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowPatients</servlet-name>
        <url-pattern>/ShowPatients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPatientsServlet</servlet-name>
        <url-pattern>/ShowPatientsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShiowPatienInfoServlet</servlet-name>
        <url-pattern>/ShiowPatienInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowListDataHealthServlet</servlet-name>
        <url-pattern>/ShowListDataHealthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDataHServlet</servlet-name>
        <url-pattern>/ShowDataHServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
